build/
bin/
target/
.classpath
.gradle/
.idea
.project
.settings/
*.imp
*.iml
.springBeans
.DS_Store
.vscode/
.flattened-pom.xml
dependency-reduced-pom.xml
classpath-data.json
.sts4-cache/
.swagger-codegen/
*.dmp
